<h1> Charge por subscription </h1>
<h3>Status de Subcripcion <%= @subscription.status %></h3>

<p>Customer: <%= @customer.inspect %></p>
<p>Subscripcion: <%= @subscription.inspect %></p>
<p>Plan: <%= @plan.inspect %></p>